<ng-scrollbar>
  <div
    *ngIf="!uploading && !uploaded && !integrityChecked"
    class="container"
    fxLayout="row"
    fxLayoutAlign="center none"
  >
    <h1 class="mat-headline-4">New Metadata Import</h1>
    <h4>Import metadata file(s):</h4>
    <button
      *ngIf="!uploading"
      mat-raised-button
      (click)="addData()"
    >
      <mat-icon>add</mat-icon>
      Add Files
    </button>
    <div
      *ngIf="selectedItems"
      class="mat-elevation-z8 mat-table-margin"
    >
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 demo-table"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Name
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element.name }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="size">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Size
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element.size }} mb
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
    <button
      *ngIf="selectedItems"
      color="primary"
      mat-raised-button
      (click)="startUpload()"
    >
      Start Upload
    </button>
  </div>
  <div
    *ngIf="uploading"
    class="container"
    fxLayout="row"
    fxLayoutAlign="center none"
  >
    <h1 class="mat-headline-4">Uploading</h1>

    <div class="mat-table-margin">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>

  <div
    *ngIf="uploaded"
    class="container"
    fxLayout="row"
    fxLayoutAlign="center none"
  >
    <h1 class="mat-headline-4">Success</h1>
    <h4>Preview file(s):</h4>
    <div class="mat-elevation-z8 mat-table-margin">
      <table
        mat-table
        [dataSource]="uploadDataSource"
        class="mat-elevation-z8 demo-table"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Name
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="verifying">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Metadata Integrity Check
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            <span *ngIf="element.verified">
              <mat-icon>check</mat-icon>
            </span>
            <span *ngIf="!element.verified">
              <mat-spinner diameter="25"> </mat-spinner>
            </span>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="uploadDisplayedColumns"
        ></tr>
        <tr
          mat-row
          (click)="openDataPopup()"
          *matRowDef="let row; columns: uploadDisplayedColumns"
        ></tr>
      </table>
    </div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!importEnabled"
      (click)="showImport()"
    >
      Import
    </button>
  </div>

  <div
    *ngIf="integrityChecked"
    class="container"
    fxLayout="row"
    fxLayoutAlign="center none"
  >
    <h1 class="mat-headline-4">Metadata Status</h1>
    <h4>Imported File(s):</h4>
    <div class="mat-elevation-z8 mat-table-margin">
      <table
        mat-table
        [dataSource]="importDataSource"
        class="mat-elevation-z8 demo-table"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            File
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element.name }}
          </td>
        </ng-container>

        <!-- Weight Column -->'approval', 'verified', 'importDate']
        <ng-container matColumnDef="size">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Metadata Fields...
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            Metadata Field Entry...
          </td>
        </ng-container>

        <ng-container matColumnDef="approval">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Metadata Integrity Check Status
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            Pending
          </td>
        </ng-container>
        <ng-container matColumnDef="importDate">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Import Date
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element.importDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="verified">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Metadata Integrity Check
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            <span *ngIf="element.verified">
              <mat-icon>check</mat-icon>
            </span>
            <span *ngIf="!element.verified">
              <mat-spinner diameter="25"> </mat-spinner>
            </span>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="importDisplayedColumns"
        ></tr>
        <tr
          mat-row
          (click)="openDataPopup()"
          *matRowDef="let row; columns: importDisplayedColumns"
        ></tr>
      </table>
    </div>
  </div>
</ng-scrollbar>
