<mat-nav-list>
  <!-- div class="wrapper">
    <h3 mat-subheader>Current changes</h3>
    <mat-chip-listbox
      class="mat-chip-list-stacked"
      aria-label="Current changes"
      *ngIf="(itemsExist | async) === true"
    >
      <mat-chip
        *ngFor="let change of actionsService.editedItemsObservable | async"
        [color]="change.color"
        [ngClass]="isActive(change.id) ? 'active' : ''"
        (click)="handleClick(change.id, change.route)"
      >
        <div class="top">
          <span>{{ change.label }}</span>
          <span>{{ change.state }}</span>
        </div>
        <div class="bottom">
          <p>ID: {{ change.id }}</p>
        </div>
      </mat-chip>
    </mat-chip-listbox>
    <p
      *ngIf="(itemsExist | async) === false"
      [ngStyle]="{ margin: '1rem' }"
    >
      No changes made yet.
    </p>
  </div -->
  <div class="bottom">
    <div class="actions">
      <button
        mat-stroked-button
        color="primary"
        (click)="handleSave()"
        [disabled]="currentEdit && currentEdit.state === state.DRAFT && !formEdited"
      >
        Save
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="handleSubmit()"
        [disabled]="currentEdit && currentEdit.state !== state.DRAFT"
      >
        Submit
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="logDataProduct()"
      >
        Log Data Product
      </button>
    </div>
  </div>
</mat-nav-list>
