<mat-nav-list>
  <!-- div class="wrapper">
    <h3 mat-subheader>Current changes</h3>
    <mat-chip-listbox
      class="mat-chip-list-stacked"
      aria-label="Current changes"
      *ngIf="(itemsExist | async) === true"
    >
      <mat-chip
        *ngFor="let change of actionsService.editedItemsObservable | async"
        [color]="change.color"
        [ngClass]="isActive(change.id) ? 'active' : ''"
        (click)="handleClick(change.id, change.route)"
      >
        <div class="top">
          <span>{{ change.label }}</span>
          <span>{{ change.state }}</span>
        </div>
        <div class="bottom">
          <p>ID: {{ change.id }}</p>
        </div>
      </mat-chip>
    </mat-chip-listbox>
    <p
      *ngIf="(itemsExist | async) === false"
      [ngStyle]="{ margin: '1rem' }"
    >
      No changes made yet.
    </p>
  </div -->
  <div class="bottom">
    <div class="actions">
      <button
        *ngIf="
          activeDataProduct && (activeDataProduct.state === state.DRAFT || activeDataProduct.state === state.SUBMITTED)
        "
        mat-stroked-button
        color="primary"
        (click)="handleSave()"
        [disabled]="activeDataProduct && activeDataProduct.state === state.DRAFT && !formEdited"
      >
        Save
      </button>
      <button
        *ngIf="
          activeDataProduct &&
          (activeDataProduct.state === state.PUBLISHED || activeDataProduct.state === state.ARCHIVED)
        "
        mat-stroked-button
        color="primary"
        (click)="handleCreateEntityFromPublishedOrArchived()"
      >
        Create New Draft From Entity
      </button>
      <button
        *ngIf="activeDataProduct && activeDataProduct.state === state.DRAFT"
        mat-flat-button
        color="primary"
        (click)="handleChangeState(state.SUBMITTED)"
      >
        Submit
      </button>
      <button
        *ngIf="activeDataProduct && activeDataProduct.state === state.SUBMITTED"
        mat-flat-button
        color="primary"
        (click)="handleChangeState(state.PUBLISHED)"
      >
        Publish
      </button>

      <button
        *ngIf="activeDataProduct && activeDataProduct.state === state.SUBMITTED"
        mat-flat-button
        color="warn"
        (click)="handleChangeState(state.DISCARDED)"
      >
        Discard
      </button>

      <button
        *ngIf="activeDataProduct && activeDataProduct.state === state.PUBLISHED"
        mat-flat-button
        color="warn"
        (click)="handleChangeState(state.ARCHIVED)"
      >
        Archive
      </button>
    </div>
  </div>
</mat-nav-list>
