<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <ng-container *ngIf="webservice">
    <div class="top-header">
      <h1 class="mat-display-1">Webservices</h1>
      <div class="actions">
        <mat-slide-toggle class="example-margin" color="primary" (change)="handleChange($event)"
          [checked]="editModeEnabled">
          Edit mode
        </mat-slide-toggle>
        <button mat-flat-button color="primary" [disabled]="!editModeEnabled">Save</button>
        <button mat-stroked-button color="warn" [disabled]="!editModeEnabled" (click)="handleDelete()">Delete</button>
      </div>
    </div>
    <mat-tab-group mat-stretch-tabs class="mat-elevation-z4 mat-tab__padding" animationDuration="0ms"
      mat-align-tabs="start">
      <mat-tab label="Distribution">
        <form>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="47">
            <mat-label>Identifier</mat-label>
            <input matInput placeholder="PIC" name="type" [value]="'Lorem ipsum'" [disabled]="!editModeEnabled">
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="47">
            <mat-label>Description</mat-label>
            <textarea matInput [value]="webservice.description" name="description"
              [disabled]="!editModeEnabled" [ngStyle]="{ 'line-height': '1.4' }"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="47">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="webservice.name" name="name" [ngModelOptions]="{standalone: true}"
              [disabled]="!editModeEnabled">
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="47">
            <mat-label>Issued</mat-label>
            <input matInput [ngModel]="formatDate(webservice.datePublished)" name="datePublished"
              [ngModelOptions]="{standalone: true}" disabled>
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="47">
            <mat-label>Type</mat-label>
            <input matInput name="type" [value]="'Lorem ipsum'" [disabled]="!editModeEnabled">
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="47">
            <mat-label>Modified</mat-label>
            <input matInput [ngModel]="formatDate(webservice.dateModified)" name="dateModified"
              [ngModelOptions]="{standalone: true}" disabled>
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="47">
            <mat-label>Format</mat-label>
            <input matInput name="format" [value]="'Lorem ipsum'" [disabled]="!editModeEnabled">
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="47">
            <mat-label>Access URL</mat-label>
            <input matInput name="access_url" [value]="'Lorem ipsum'" [disabled]="!editModeEnabled">
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="47">
            <mat-label>License</mat-label>
            <input matInput [(ngModel)]="webservice.license" name="datePublished" [ngModelOptions]="{standalone: true}"
              [disabled]="!editModeEnabled">
          </mat-form-field>
        </form>
      </mat-tab>
      <mat-tab label="Webservice">
        Web
      </mat-tab>
      <mat-tab label="Operation">
        Op
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <ng-container *ngIf="!webservice">
    <h1 class="mat-display-1">Webservices</h1>
    <p class="body-1">
      No records found. Please browse 'Webservices' using the list on the left.
    </p>
  </ng-container>
</div>
