<ng-scrollbar #scrollable>
  <div class="container">
    <div class="title mat-table-margin">
      <h1 class="mat-headline-4">Data products</h1>
      <a
        mat-stroked-button
        [routerLink]="['/browse/dataproduct/new']"
        routerLinkActive="active"
      >
        <mat-icon color="primary">add_circle</mat-icon>
        New Data Product
      </a>
    </div>

    <app-table
      [sectionName]="sectionName"
      (rowClickDetailsEmit)="rowClicked($event)"
      (paginationChangeEmit)="handlePaginationChange($event)"
    >
    </app-table>
  </div>
</ng-scrollbar>
<app-back-to-top-button
  (onScrollToTop)="handleScrollToTop()"
  *ngIf="showButton"
></app-back-to-top-button>
