.column-status {
  text-transform: capitalize;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border-radius: 25px;

    mat-icon {
      font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
