<ng-container *ngIf="formFields">
  <h1 mat-dialog-title>Add new person</h1>
  <form>
    <h4 class="mat-subtitle-1">Identifier</h4>
    <div class="inline-fields">
      <mat-form-field
        appearance="outline"
        [style.width.%]="30"
      >
        <mat-label>Property ID</mat-label>
        <input
          matInput
          placeholder="Property ID"
          [(ngModel)]="formFields.identifier[0].identifier"
          name="propertyId"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        [style.width.%]="65"
      >
        <mat-label>Value</mat-label>
        <input
          matInput
          placeholder="Value"
          [(ngModel)]="formFields.identifier[0].type"
          name="value"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Family name</mat-label>
      <input
        matInput
        placeholder="Family name"
        [(ngModel)]="formFields.familyName"
        name="familyName"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Given name</mat-label>
      <input
        matInput
        placeholder="Given name"
        [(ngModel)]="formFields.givenName"
        name="givenName"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <h4 class="mat-subtitle-1">Address</h4>
    <mat-form-field appearance="outline">
      <mat-label>Street</mat-label>
      <input
        matInput
        placeholder="Street"
        [(ngModel)]="formFields.address.street"
        name="street"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Locality</mat-label>
      <input
        matInput
        placeholder="Locality"
        [(ngModel)]="formFields.address.locality"
        name="locality"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <div class="inline-fields">
      <mat-form-field
        appearance="outline"
        [style.width.%]="30"
      >
        <mat-label>Postal code</mat-label>
        <input
          matInput
          placeholder="Postal code"
          [(ngModel)]="formFields.address.postalCode"
          name="postalCode"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        [style.width.%]="65"
      >
        <mat-label>Country</mat-label>
        <input
          matInput
          placeholder="Country"
          [(ngModel)]="formFields.address.country"
          name="country"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </div>
    <h4 class="mat-subtitle-1">Contact</h4>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="formFields.email[0]"
        name="email"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Qualification</mat-label>
      <input
        matInput
        placeholder="Qualification"
        [(ngModel)]="formFields.qualifications[0]"
        name="qualification"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
  </form>
</ng-container>
<div mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="'cancel'"
  >
    Cancel
  </button>
  <button
    mat-flat-button
    color="primary"
    cdkFocusInitial
    [mat-dialog-close]="'add'"
  >
    Add
  </button>
</div>

<ng-container *ngIf="!formFields">
  <div mat-dialog-content>
    <p>Error loading form...</p>
  </div>
</ng-container>
