.wrapper {
  padding: 2rem;

  p {
    &.title {
      font-size: 22px;
    }
  }

  .table-wrapper {
    border: 1px solid #efefef;
  }

  .loading-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  button {
    margin-top: 1rem;
  }
}
