<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <h1 class="mat-display-1">Revisions</h1>
  <div class="mat-elevation-z8 mat-table-margin">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Uid
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Created At
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row._sourceObject.createdAt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Created By
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row._sourceObject.createdBy }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" aria-label="Select page of revisions"></mat-paginator>
  </div>
</div>
