<ng-scrollbar>
  <div class="container">
    <h1 class="mat-headline-4">Create New Group</h1>

    <div *ngIf="form">
      <form
        [formGroup]="form"
        (submit)="this.submitGroup()"
      >
        <mat-form-field
          appearance="fill"
          [style.width.%]="100"
        >
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            name="name"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          [style.width.%]="100"
        >
          <mat-label>Description</mat-label>
          <textarea
            matInput
            name="description"
            [ngStyle]="{ 'line-height': '1.4' }"
            formControlName="description"
          ></textarea>
        </mat-form-field>
        <button
          mat-raised-button
          type="submit"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</ng-scrollbar>
