.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wave {
  font-size: 50px;
}

h1 {
  font-size: 90px;
  font-weight: 300;
  margin-left: 1rem;
}

.details-wrapper {
  padding: 2em;
}

.resize {
  width: 75%;
}
