@import 'src/styles/_theme.scss';

.entity-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

mat-radio-group {
  padding: 1rem 0;
}

.title {
  font-weight: bold;
  // margin-top: 50px;
  min-height: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  // padding-left: 3em;
  margin-bottom: 1em;

  &.active {
    background-color: $color-focus;
  }
}

.expansion-wrapper {
  margin-top: -1rem;
}

.mat-expansion-panel-header {
  &.active {
    background-color: $color-focus;
  }
}

.expansion-content-wrapper {
  padding-top: 1em;
}

.mat-expansion-panel-header-title {
  font-size: 15px;
}

.web-service {
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.38);
  box-shadow: none;
}
