<form
  [formGroup]="form"
  *ngIf="form"
>
  <mat-form-field
    appearance="fill"
    [floatLabel]="floatLabelControl.value"
    [style.width.%]="100"
  >
    <mat-label>Title</mat-label>
    <input
      matInput
      name="name"
      [ngStyle]="{ 'line-height': '1.4' }"
      formControlName="name"
      [value]="webservice?.name"
    />
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    [floatLabel]="floatLabelControl.value"
  >
    <mat-label>Description</mat-label>
    <textarea
      matInput
      name="description"
      [ngStyle]="{ 'line-height': '1.4' }"
      formControlName="description"
      [value]="webservice?.description"
      [disabled]="true"
    ></textarea>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    [floatLabel]="floatLabelControl.value"
    [style.width.%]="100"
  >
    <mat-label>API Documentation (URL)</mat-label>
    <input
      matInput
      name="documentation"
      [ngStyle]="{ 'line-height': '1.4' }"
      formControlName="documentation"
    />
    <mat-error *ngIf="form.get('documentation')?.invalid"> URL is not valid. </mat-error>
  </mat-form-field>

  <mat-form-field class="service-provider">
    <mat-label>Service Provider</mat-label>
    <mat-select
      [(ngModel)]="selectedServiceProvider"
      [ngModelOptions]="{ standalone: true }"
      [compareWith]="compareWithFn"
      (selectionChange)="handleUpdateServicePoint()"
    >
      <mat-option
        *ngFor="let provider of serviceProviders"
        [value]="provider"
      >
        {{ provider.legalName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div
    class="grid"
    *ngIf="webservice"
  >
    <mat-accordion>
      <div class="grid-item">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="subtitle">Spatial Coverage</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-spatial-coverage
            [dataProduct]="dataProduct"
            [spatialExtentInput]="webservice.spatialExtent"
            [dataProductIsParent]="false"
          ></app-spatial-coverage>
        </mat-expansion-panel>
      </div>
      <div class="grid-item">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="subtitle">Temporal Coverage</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-temporal-coverage
            [dataProduct]="dataProduct"
            [spatialExtentInput]="webservice.temporalExtent"
            [dataProductIsParent]="false"
          ></app-temporal-coverage>
        </mat-expansion-panel>
      </div>
      <div class="grid-item">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="subtitle">Contact Points</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-contact-point [contactPoint]="webservice.contactPoint"></app-contact-point>
        </mat-expansion-panel>
      </div>
      <div class="grid-item">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="subtitle">Supported Operations</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-supported-operation [supportedOperations]="webservice.supportedOperation"></app-supported-operation>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</form>
