.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  mat-accordion {
    width: 100%;
  }

  .grid-item {
    width: 100%;

    .subtitle {
      font-weight: 500;
    }

    mat-expansion-panel {
      width: 100%;
      margin-bottom: 1rem;
      box-shadow: none !important;
      border: 1px solid #efefef;
    }
  }
}

mat-form-field {
  &.service-provider {
    margin-top: 1rem;
  }
}

mat-expansion-panel {
  margin-bottom: 1rem;
}
