mat-radio-group {
  margin-bottom: 1rem;
}

.mat-mdc-tab-group {
  .mat-mdc-tab-body {
    padding: 0 !important;
  }
}

// .fn-buttons {
//   display: flex;
//   flex-direction: column;
//   align-items: baseline;
// }
.add-distribution {
  display: flex;
  align-self: baseline;
  margin-top: 1em;
}
