app-dialog {
  width: 100%;
  padding: 2rem;
}

.custom-dialog {
  .mat-dialog-container {
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;

    app-dialog-form {
      display: flex;
      flex-direction: column;

      .mat-dialog-actions {
        align-self: flex-end;
      }
    }

    app-dialog-delete {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      width: 100%;

      h1 {
        padding: 0 2rem;
      }

      .mat-dialog-content {
        padding: 0 3.5rem;

        p {
          color: #515151;
          font-family: 'Roboto Flex', sans-serif;
        }
      }

      .mat-dialog-actions {
        padding: 1rem 2rem;
        background: #EFEFEF;
        justify-content: flex-end;
      }
    }
  }
}
