@import 'theme';

.err-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background: #fcfbee;

  img {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 225px;
    height: auto;
  }

  .text {
    width: 1000px;
    text-align: center;

    .flex-row {
      display: flex;
      justify-content: space-between;
    }
  }

  h1 {
    font-size: 100px;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;

    .title {
      font-weight: 600;
    }
  }

  p {
    &.subtitle {
      font-size: 20px;
      line-height: 1.4;
      color: #565656;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
