button {
  &.mat-mdc-unelevated-button {
    &.mat-accent {
      span {
        /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
        &.mat-button-wrapper {
          color: #FFFFFF;
          font-family: 'Roboto Flex', sans-serif;
        }
      }
    }
  }

  &.mat-mdc-mini-fab {
    box-shadow: none !important;
  }
}
