.snackbar {
  padding: 0 1rem !important;
  width: 730px;
  height: 48px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  &.snackbar-success {
    background: rgba(0, 123, 64, 0.2);
    color: #007b40;
  }

  &.snackbar-error {
    background: rgb(248, 212, 212);
    color: #f03d3e;
  }

  &.snackbar-warning {
    background: rgb(240, 168, 69, 0.2);
    color: #000000;
  }
}
