table {
  width: 100%;

  td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 24px !important;
  }

  thead {
    .mat-header-row {
      background: #f1f1f1;
    }

    tr {
      .mat-sort-header-content {
        font-weight: 600;
        color: #191919;
      }
    }
  }

  tbody {
    .mat-row {
      height: 56px;

      &:nth-child(even) {
        background-color: #f9f9f9;
      }
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.mat-table-margin {
  margin-right: 30px;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: rgba(0, 73, 38, 0.2);
}

app-browse-contact-point,
app-browse-web-services {
  .mat-table {
    .mat-column-Status {
      text-transform: capitalize;
    }
  }
}
