<ng-container *ngIf="userInfo">
  <ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="isAdmin(userInfo.role)">
      <mat-nav-list>
        <h3 mat-subheader>DDSS</h3>
        <a
          mat-list-item
          [routerLink]="['/browse/dataproduct']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon mat-list-icon>perm_media</mat-icon>
          <span>Data products</span>
        </a>
        <!-- <a
          mat-list-item
          [routerLink]="['/browse/webservice']"
          routerLinkActive="active"
          [disabled]="true"
        >
          <mat-icon mat-list-icon>layers</mat-icon>
          <span>Webservices</span>
        </a> -->
        <a
          mat-list-item
          [routerLink]="['/browse/distribution']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>share</mat-icon>
          <span>Distribution</span>
        </a>
        <!-- <a
          mat-list-item
          [routerLink]="['/browse/contactpoint']"
          routerLinkActive="active"
          [disabled]="true"
        >
          <mat-icon mat-list-icon>contact_support</mat-icon>
          <span>Contact point</span>
        </a> -->
        <mat-divider></mat-divider>
        <button
          mat-button
          color="primary"
          (click)="handleNewDataProduct()"
          class="new-product-button"
        >
          <mat-icon color="primary">add_circle</mat-icon>
          New data product
        </button>
        <mat-divider></mat-divider>

        <h3 mat-subheader>Administrative</h3>
        <!-- <a
          mat-list-item
          [routerLink]="['/browse/organization']"
          routerLinkActive="active"
          [disabled]="true"
        >
          <mat-icon mat-list-icon>business</mat-icon>
          <span>Organisations</span>
        </a> -->
        <!-- <a
          mat-list-item
          [routerLink]="['/browse/people']"
          routerLinkActive="active"
          [disabled]="true"
        >
          <mat-icon mat-list-icon>portrait</mat-icon>
          <span>People</span>
        </a> -->
        <a
          mat-list-item
          [routerLink]="['/browse/users']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>person</mat-icon>
          <span>Users</span>
        </a>
        <!-- <a
          mat-list-item
          [routerLink]="['/browse/groups']"
          routerLinkActive="active"
          [disabled]="true"
        >
          <mat-icon mat-list-icon>group</mat-icon>
          <span>Groups</span>
        </a> -->
        <mat-divider></mat-divider>
        <!-- <h3 mat-subheader>Data</h3> -->
        <!-- <a
          [disabled]="true"
          mat-list-item
          [routerLink]="['/browse/statistics']"
          routerLinkActive="active"
          [disabled]="true"
        >
          <mat-icon mat-list-icon>bar_chart</mat-icon>
          <span>Statistics</span>
        </a> -->
      </mat-nav-list>
    </ng-container>

    <ng-container *ngSwitchCase="isReviewer(userInfo.role)">
      <mat-nav-list>
        <h3 mat-subheader>DDSS</h3>
        <a
          mat-list-item
          [routerLink]="['/browse/data-products']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>perm_media</mat-icon>
          <span>Data products</span>
        </a>
        <a
          mat-list-item
          [routerLink]="['/browse/distribution']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>share</mat-icon>
          <span>Distribution</span>
        </a>
        <mat-divider></mat-divider>
        <button
          mat-button
          color="primary"
          (click)="handleNewDataProduct()"
          class="new-product-button"
        >
          <mat-icon color="primary">add_circle</mat-icon>
          New data product
        </button>
        <!-- <a
          mat-list-item
          [routerLink]="['/browse/organization']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>business</mat-icon>
          <span>Organisations</span>
        </a> -->
        <!-- <a
          mat-list-item
          [routerLink]="['/browse/people']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>portrait</mat-icon>
          <span>People</span>
        </a> -->
        <!-- <a
          [disabled]="true"
          mat-list-item
          [routerLink]="['/browse/software']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>desktop_windows</mat-icon>
          <span>Software</span>
        </a> -->
        <!-- <a
          [disabled]="true"
          mat-list-item
          [routerLink]="['/browse/source-code']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>code</mat-icon>
          <span>Source code</span>
        </a> -->
      </mat-nav-list>
    </ng-container>

    <ng-container *ngIf="isEditor(userInfo.role)">
      <mat-nav-list>
        <h3 mat-subheader>DDSS</h3>
        <a
          mat-list-item
          [routerLink]="['/browse/data-products']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>perm_media</mat-icon>
          <span>Data products</span>
        </a>
        <a
          mat-list-item
          [routerLink]="['/browse/distribution']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon>share</mat-icon>
          <span>Distribution</span>
        </a>
        <mat-divider></mat-divider>
        <button
          mat-button
          color="primary"
          (click)="handleNewDataProduct()"
          class="new-product-button"
        >
          <mat-icon color="primary">add_circle</mat-icon>
          New data product
        </button>
      </mat-nav-list>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="!userInfo">
  <div class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>
