<mat-nav-list>
  <h3 mat-subheader>DDSS</h3>

  <a mat-list-item [routerLink]="['/data-products']" routerLinkActive="active">
    <mat-icon mat-list-icon>
      perm_media
    </mat-icon>
    <p mat-line> DATA PRODUCTS </p>
  </a>

  <a mat-list-item [routerLink]="['/browse/web-services']" routerLinkActive="active">
    <mat-icon mat-list-icon>
      layers
    </mat-icon>
    <p mat-line> WEBSERVICES </p>
  </a>
  <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
    <mat-icon mat-list-icon>
      desktop_windows
    </mat-icon>
    <p mat-line> SOFTWARE </p>
  </a>

  <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
    <mat-icon mat-list-icon>device_hub</mat-icon>
    <p mat-line> SERVICES </p>
  </a>

  <mat-divider></mat-divider>

  <h3 mat-subheader>ADMINISTRATIVE</h3>

  <a mat-list-item [routerLink]="['/browse/organization']" routerLinkActive="active">
    <mat-icon mat-list-icon>
      business
    </mat-icon>
    <p mat-line> ORGANIZATIONS </p>
  </a>
  <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
    <mat-icon mat-list-icon>
      person
    </mat-icon>
    <p mat-line> PERSONS </p>
  </a>
  <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
    <mat-icon mat-list-icon>
      book
    </mat-icon>
    <p mat-line> PUBLICATIONS </p>
  </a>

  <mat-divider></mat-divider>

  <h3 mat-subheader>INFRASTRUCTURE</h3>
  <a mat-list-item [routerLink]="['/icons']" routerLinkActive="active">
    <mat-icon mat-list-icon>
      account_balance
    </mat-icon>
    <p mat-line> FACILITIES </p>
  </a>
  <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
    <mat-icon mat-list-icon>
      build
    </mat-icon>
    <p mat-line> EQUIPMENTS </p>
  </a>

</mat-nav-list>
