<ng-container *ngIf="!loading$; else loading">
  <ng-container *ngIf="userInfo">
    <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="userInfo.isAdmin">
        <mat-nav-list>
          <a
            mat-list-item
            routerLinkActive="active"
            [routerLink]="['/browse/dataproduct']"
          >
            <mat-icon mat-list-icon>perm_media</mat-icon>
            <span>Data Products</span>
          </a>
          <!-- <a
            mat-list-item
            [routerLink]="['/browse/webservice']"
            routerLinkActive="active"
            [disabled]="true"
          >
            <mat-icon mat-list-icon>layers</mat-icon>
            <span>Webservices</span>
          </a> -->
          <a
            mat-list-item
            [routerLink]="['/browse/distribution']"
            routerLinkActive="active"
          >
            <mat-icon mat-list-icon>share</mat-icon>
            <span>Distributions</span>
          </a>
          <!-- <a
            mat-list-item
            [routerLink]="['/browse/contactpoint']"
            routerLinkActive="active"
            [disabled]="true"
          >
            <mat-icon mat-list-icon>contact_support</mat-icon>
            <span>Contact point</span>
          </a> -->
          <!-- <mat-divider></mat-divider>
          <button
            mat-button
            color="primary"
            (click)="handleNewDataProduct()"
            class="new-product-button"
          >
            <mat-icon color="primary">add_circle</mat-icon>
            New data product
          </button>
          <mat-divider></mat-divider> -->

          <h3 mat-subheader>Administrative</h3>
          <!-- <a
            mat-list-item
            [routerLink]="['/browse/organization']"
            routerLinkActive="active"
            [disabled]="true"
          >
            <mat-icon mat-list-icon>business</mat-icon>
            <span>Organisations</span>
          </a> -->
          <!-- <a
            mat-list-item
            [routerLink]="['/browse/people']"
            routerLinkActive="active"
            [disabled]="true"
          >
            <mat-icon mat-list-icon>portrait</mat-icon>
            <span>People</span>
          </a> -->
          <!-- <a
            mat-list-item
            [routerLink]="['/browse/users']"
            routerLinkActive="active"
          >
            <mat-icon mat-list-icon>person</mat-icon>
            <span>Users</span>
          </a> -->
          <a
            mat-list-item
            [routerLink]="['/browse/groups']"
            routerLinkActive="active"
          >
            <mat-icon mat-list-icon>group</mat-icon>
            <span>Groups</span>
          </a>
          <!-- <a
            mat-list-item
            [routerLink]="['/browse/groups']"
            routerLinkActive="active"
            [disabled]="true"
          >
            <mat-icon mat-list-icon>group</mat-icon>
            <span>Groups</span>
          </a> -->
          <mat-divider></mat-divider>
          <!-- <h3 mat-subheader>Data</h3> -->
          <!-- <a
            [disabled]="true"
            mat-list-item
            [routerLink]="['/browse/statistics']"
            routerLinkActive="active"
            [disabled]="true"
          >
            <mat-icon mat-list-icon>bar_chart</mat-icon>
            <span>Statistics</span>
          </a> -->
        </mat-nav-list>
      </ng-container>
      <ng-container *ngIf="!userInfo.isAdmin">
        <mat-nav-list>
          <a
            mat-list-item
            [routerLink]="['/browse/groups']"
            routerLinkActive="active"
          >
            <mat-icon mat-list-icon>group</mat-icon>
            <span>Groups</span>
          </a>
        </mat-nav-list>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!userInfo">
    <div class="loading-wrapper">
      <app-skeleton-loader type="menu"></app-skeleton-loader>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="loading-wrapper">
    <svg
      role="img"
      width="280"
      height="175"
      aria-labelledby="loading-aria"
      viewBox="0 0 280 175"
      preserveAspectRatio="none"
    >
      <title id="loading-aria">Loading...</title>
      <rect
        x="0"
        y="0"
        width="100%"
        height="100%"
        clip-path="url(#clip-path)"
        style="fill: url('#fill')"
      ></rect>
      <defs>
        <clipPath id="clip-path">
          <circle
            cx="10"
            cy="20"
            r="8"
          />
          <rect
            x="25"
            y="15"
            rx="5"
            ry="5"
            width="220"
            height="10"
          />
          <circle
            cx="10"
            cy="50"
            r="8"
          />
          <rect
            x="25"
            y="45"
            rx="5"
            ry="5"
            width="220"
            height="10"
          />
          <circle
            cx="10"
            cy="80"
            r="8"
          />
          <rect
            x="25"
            y="75"
            rx="5"
            ry="5"
            width="220"
            height="10"
          />
          <circle
            cx="10"
            cy="110"
            r="8"
          />
          <rect
            x="25"
            y="105"
            rx="5"
            ry="5"
            width="220"
            height="10"
          />
        </clipPath>
        <linearGradient id="fill">
          <stop
            offset="0.599964"
            stop-color="#f3f3f3"
            stop-opacity="1"
          >
            <animate
              attributeName="offset"
              values="-2; -2; 1"
              keyTimes="0; 0.25; 1"
              dur="2s"
              repeatCount="indefinite"
            ></animate>
          </stop>
          <stop
            offset="1.59996"
            stop-color="#ecebeb"
            stop-opacity="1"
          >
            <animate
              attributeName="offset"
              values="-1; -1; 2"
              keyTimes="0; 0.25; 1"
              dur="2s"
              repeatCount="indefinite"
            ></animate>
          </stop>
          <stop
            offset="2.59996"
            stop-color="#f3f3f3"
            stop-opacity="1"
          >
            <animate
              attributeName="offset"
              values="0; 0; 3"
              keyTimes="0; 0.25; 1"
              dur="2s"
              repeatCount="indefinite"
            ></animate>
          </stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</ng-template>
