@import '../../styles/theme.scss';

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
}

.logo-wrapper {
  cursor: pointer;
}

.navbar-brand {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navbar-main-navigation {
  margin-left: 2.5%;
}

.navbar-main-navigation-item {
  margin: 0 15%;
  text-decoration: none;
  cursor: pointer;
  color: white;
  &:visited {
    color: white;
  }
  &:hover,
  &:focus {
    color: orange;
    text-decoration: none;
  }
}

.login {
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-container img {
  margin: 0 16px;
}

.navbar-is-mobile .navbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.navbar-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
           causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
           `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

/*Set sidenav width*/

mat-sidenav {
  min-width: 280px !important;
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
  /* background-color:rgb(63, 81, 181); */
}

mat-sidenav-content {
  font-family: 'Roboto Flex', sans-serif;
}

a.mat-list-item.active {
  background: rgba(0, 0, 0, 0.04);
}

#push-bottom {
  position: absolute;
  bottom: 0;
}

button {
  &[mat-icon-button] {
    mat-icon {
      &.active {
        color: #f39c12;
      }
    }
  }
}

.dropdown-menu {
  min-width: 160px;

  background: $color-background-panel;
  background-clip: padding-box;
  line-height: normal;
  z-index: 100;
  position: absolute;
  right: 35px;
  left: auto;
  top: 80px;

  &--userdropdown {
    padding: 0.3em;
    width: 280px;
    border: 1px solid $color-primary;
  }

  &-header {
    padding: 7px 10px;
    border-bottom: 1px solid $color-text-bg;
    color: $color-dark-text;
    font-size: 14px;
    background: $color-primary;

    &-userimage {
      display: block;
      margin: 0 auto;
      z-index: 5;
      height: 90px;
      width: 90px;
      border: 3px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
    }

    &-username {
      text-align: center;
      font-weight: 800;
      color: $color-text-bg;
    }
  }

  &-body {
    background: white;
    color: black;
    padding: 10px;

    & .wrapper {
      .menuitem {
        display: flex;
        flex-direction: row;
        justify-content: right;
        cursor: pointer;

        span {
          text-align: right;
        }
      }
    }
  }

  &-footer {
    background: white;
    color: black;
    padding: 10px;

    & .btn-default {
      color: $color-text-bg-dark;
    }

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }
}
