<form
  [formGroup]="formGroup"
  *ngIf="formGroup && dataProduct"
>
  <div
    class="fields-flex-col"
    formArrayName="coverage"
  >
    <ng-container
      *ngFor="let control of getControls('coverage'); let i = index"
      [formGroupName]="i"
    >
      <mat-form-field
        appearance="fill"
        [style.width.%]="100"
      >
        <mat-label>Start date</mat-label>
        <mtx-datetimepicker #pickerStartDate></mtx-datetimepicker>
        <input
          [mtxDatetimepicker]="pickerStartDate"
          formControlName="startDate"
          matInput
          required
        />
        <mtx-datetimepicker-toggle
          [for]="pickerStartDate"
          matSuffix
        ></mtx-datetimepicker-toggle>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        [style.width.%]="100"
      >
        <mat-label>End date</mat-label>
        <mtx-datetimepicker #pickerEndDate></mtx-datetimepicker>
        <input
          [mtxDatetimepicker]="pickerEndDate"
          formControlName="endDate"
          matInput
          required
        />
        <mtx-datetimepicker-toggle
          [for]="pickerEndDate"
          matSuffix
        ></mtx-datetimepicker-toggle>
      </mat-form-field>
    </ng-container>
  </div>
  <mat-hint>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-alert-triangle"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#f39c12"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path
        stroke="none"
        d="M0 0h24v24H0z"
        fill="none"
      />
      <path d="M12 9v4" />
      <path
        d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"
      />
      <path d="M12 16h.01" />
    </svg>
    <span>If no end date is provided, it is assumed that this dataset is acquired continuously.</span>
  </mat-hint>
</form>
