<form
  [formGroup]="paramForm"
  *ngIf="param"
>
  <div class="top-params">
    <mat-form-field
      appearance="fill"
      [style.width.%]="50"
    >
      <mat-label>Variable</mat-label>
      <input
        matInput
        placeholder="Variable"
        formControlName="variable"
      />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      [style.width.%]="50"
    >
      <mat-label>Range</mat-label>
      <mat-select
        matNativeControl
        name="range"
        formControlName="range"
      >
        <mat-option
          *ngFor="let range of ranges"
          [value]="range"
        >
          {{ range }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field
    appearance="fill"
    [style.width.%]="50"
  >
    <mat-label>Label</mat-label>
    <input
      matInput
      placeholder="Label"
      formControlName="label"
    />
  </mat-form-field>

  <mat-slide-toggle formControlName="required">Required</mat-slide-toggle>

  <mat-slide-toggle formControlName="readOnlyValue">Read Only</mat-slide-toggle>

  <mat-form-field
    appearance="fill"
    [style.width.%]="50"
  >
    <mat-label>Semantic Tag</mat-label>
    <mat-select
      matNativeControl
      name="property"
      formControlName="property"
    >
      <mat-option
        *ngFor="let semanticTag of semanticTags"
        [value]="semanticTag"
      >
        {{ semanticTag }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    [style.width.%]="50"
  >
    <mat-label>Minimum Value</mat-label>
    <input
      matInput
      [ngxMatDatetimePicker]="minValue"
      placeholder="Minimum value"
      formControlName="minValue"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="$any(minValue)"
    ></mat-datepicker-toggle>

    <ngx-mat-datetime-picker #minValue></ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    [style.width.%]="50"
  >
    <mat-label>Maximum Value</mat-label>
    <input
      matInput
      [ngxMatDatetimePicker]="maxValue"
      placeholder="Maximum value"
      formControlName="maxValue"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="$any(maxValue)"
    ></mat-datepicker-toggle>

    <ngx-mat-datetime-picker #maxValue></ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    [style.width.%]="50"
  >
    <mat-label>Default Value</mat-label>
    <input
      matInput
      [ngxMatDatetimePicker]="defaultValue"
      placeholder="Default value"
      formControlName="defaultValue"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="$any(defaultValue)"
    ></mat-datepicker-toggle>

    <ngx-mat-datetime-picker #defaultValue></ngx-mat-datetime-picker>
  </mat-form-field>
</form>
