* {
  font-family: 'Roboto Flex', sans-serif;
}

.mat-tab-label {
  background-color: transparent;
  font-size: large;
}

button {
  &.contact-add {
    display: block;
    margin-bottom: 2rem;
  }

  &.person-add {
    margin-bottom: 2rem;
  }
}
