:host {
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;

  .buttons-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}

.flex-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.details {
  margin-top: 0.5rem;

  .title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
}
