<form
  [formGroup]="paramsForm"
  *ngIf="paramsForm && mapping"
  class="operation-params"
>
  <mat-form-field
    appearance="fill"
    [style.width.%]="100"
  >
    <mat-label>Service URI template</mat-label>
    <input
      matInput
      placeholder="Service URI template"
      formControlName="template"
    />
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    [style.width.%]="100"
  >
    <mat-label>Preview of the URI template with default values</mat-label>
    <input
      matInput
      placeholder="Preview of the URI template with default values "
    />
  </mat-form-field>

  <mat-accordion>
    <ng-container formArrayName="mapping">
      <mat-expansion-panel
        *ngFor="let control of getControls('mapping'); let i = index"
        [formGroupName]="i"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ control.value.variable }}</mat-panel-title>
        </mat-expansion-panel-header>

        <ng-container [ngSwitch]="control.value.range">
          <ng-container *ngSwitchCase="rangeEnum.DATE_TIME">
            <app-option-datetime [param]="control.value"></app-option-datetime>
            <!-- <mat-form-field
            appearance="fill"
            [style.width.%]="100"
          >
            <mat-label>{{ control.value.label }}</mat-label>
            <input
              [ngxMatDatetimePicker]="picker"
              matInput
              placeholder="Choose a date & time"
              formControlName="defaultValue"
              [formControl]="getDateControl(control.value.defaultValue)"
              [readonly]="control.value.readOnlyValue === 'true'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(picker)"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
          </mat-form-field> -->
          </ng-container>
          <ng-container *ngSwitchCase="rangeEnum.DATE">
            <app-option-date [param]="control.value"></app-option-date>
            <!-- <mat-form-field
            appearance="fill"
            [style.width.%]="100"
          >
            <mat-label>{{ control.value.label }}</mat-label>
            <input
              [matDatepicker]="picker"
              matInput
              placeholder="Choose a date & time"
              formControlName="defaultValue"
              [formControl]="getDateControl(control.value.defaultValue)"
              [readonly]="control.value.readOnlyValue === 'true'"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
          </ng-container>
          <ng-container *ngSwitchCase="rangeEnum.STRING">
            <app-option-string></app-option-string>
            <!-- <mat-form-field
            appearance="fill"
            [style.width.%]="100"
          >
            <mat-label>{{ control.value.label }}</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="defaultValue"
              [readonly]="control.value.readOnlyValue === 'true'"
            />
          </mat-form-field> -->
          </ng-container>
          <ng-container *ngSwitchCase="rangeEnum.INTEGER">
            <app-option-integer [param]="control.value"></app-option-integer>
            <!-- <mat-form-field>
            <mat-label>{{ control.value.label }}</mat-label>
            <input
              type="number"
              matInput
              formControlName="defaultValue"
              [readonly]="control.value.readOnlyValue === 'true'"
              [max]="control.value.maxValue"
              [min]="control.value.minValue"
            />
          </mat-form-field> -->
          </ng-container>
          <ng-container *ngSwitchCase="rangeEnum.FLOAT">
            <app-option-float></app-option-float>
            <!-- <mat-form-field>
            <mat-label>{{ control.value.label }}</mat-label>
            <input
              matInput
              formControlName="defaultValue"
              [readonly]="control.value.readOnlyValue === 'true'"
              [max]="control.value.maxValue"
              [min]="control.value.minValue"
            />
          </mat-form-field> -->
          </ng-container>
          <ng-container *ngSwitchCase="rangeEnum.BOOLEAN">
            <app-option-boolean [param]="control.value"></app-option-boolean>
            <!-- <mat-slide-toggle formControlName="defaultValue">
            {{ control.value.label }}
          </mat-slide-toggle> -->
          </ng-container>
        </ng-container>

        <!-- </ng-container> -->
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</form>
