<ng-scrollbar [autoHeightDisabled]="false">
  <!-- <div class="top-header">
    <div class="flex-row"></div>
    <div class="actions">
        <div class="flex-col">
          <button
            mat-mini-fab
            color="default"
            aria-label="Load a revision"
            (click)="handleGetRevisions()"
          >
            <mat-icon>replay</mat-icon>
          </button>
          <label>Revisions</label>
        </div>
      </div>
  </div> -->

  <mat-form-field
    appearance="fill"
    [floatLabel]="floatLabelControl.value"
    [style.width.%]="100"
  >
    <mat-label>UID</mat-label>
    <input
      [value]="contactPoint?.uid"
      matInput
      placeholder="UID"
      name="uid"
      readonly
    />
  </mat-form-field>
</ng-scrollbar>
