<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
  <div
    *ngFor="let cp of contactPointArrayObs | async"
    class="list"
  >
    <div class="item">
      <app-contact-point-detail [contactPoint]="cp"></app-contact-point-detail>

      <button
        mat-mini-fab
        color="error"
        aria-label="Delete data product"
        matTooltip="Remove Contact Point"
        (click)="removeContactPoint(cp.instanceId)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div
    class="notify"
    *ngIf="showSaveFormNotify"
  >
    <mat-icon>warning</mat-icon>
    <span color="warning"> Please click 'Save' in the left-hand panel after making this change</span>
  </div>
</div>

<div
  class="contactpoint-item"
  *ngIf="showContactPointForm"
>
  <mat-form-field
    class="contact-select"
    [style.width.%]="60"
  >
    <mat-label>Search contact points</mat-label>
    <input
      type="text"
      matInput
      [formControl]="contactPointController"
      [matAutocomplete]="auto"
    />
    <mat-hint>Start typing to find a contact point</mat-hint>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
    >
      <mat-option
        *ngFor="let person of personFromCatalogFilteredOptions | async"
        [value]="person"
      >
        {{ person.givenName }} {{ person.familyName }} - {{ person.uid }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field [style.width.%]="20">
    <mat-label>Role</mat-label>
    <mat-select [formControl]="contactPointRole">
      <mat-option
        *ngFor="let item of contactPointRoleOptions"
        [value]="item.id"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    aria-label="Save contact point"
    (click)="saveContactPoint()"
  >
    Save
  </button>
</div>
