* {
  font-family: 'Roboto Flex', sans-serif;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.inline-fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h4 {
  color: #515151;
}
