.back-btn {
  border-radius: 25px;
  margin-top: 0.75rem;

  .back-label-text {
    margin-left: 0.25rem;
  }
}

.loading-wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
