<div
  class="spatial-type"
  [style.width.%]="20"
>
  <mat-form-field>
    <mat-select
      [(ngModel)]="activeCoverageType"
      [disabled]="inputsDisabled"
    >
      <mat-option
        *ngFor="let item of spatCovArr"
        [value]="item"
        >{{ item }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div
  class="wrapper"
  [class.disabled]="inputsDisabled"
  *ngIf="activeCoverageType === spatCovEnum.POLYGON"
>
  <mat-form-field>
    <mat-label>List of coordinates (Long Lat) separated by comma</mat-label>
    <input
      matInput
      placeholder="Coordinates"
      name="item.location"
      matTooltip="Example: -56 28, -56 69, 41 69"
      [(ngModel)]="polygonCoverage"
      [disabled]="inputsDisabled"
      (ngModelChange)="formatLocation()"
    />
  </mat-form-field>
</div>

<div
  class="wrapper"
  [class.disabled]="inputsDisabled"
  *ngIf="activeCoverageType === spatCovEnum.POINT"
>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="longitude"
      [disabled]="inputsDisabled"
      type="number"
      step="1"
      min="-180"
      max="180"
      matTooltip="&deg;Longitude"
      placeholder="&deg;Longitude"
      (ngModelChange)="formatLocation()"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="latitude"
      [disabled]="inputsDisabled"
      type="number"
      step="1"
      min="-90"
      max="90"
      matTooltip="&deg;Latitude"
      placeholder="&deg;Latitude"
      (ngModelChange)="formatLocation()"
    />
  </mat-form-field>
</div>
<div class="actions">
  <button
    mat-mini-fab
    color="primary"
    aria-label="Save Spatial Extent"
    matTooltip="Save Spatial Extent"
    (click)="handleSave()"
    [disabled]="inputsDisabled"
  >
    <mat-icon>save</mat-icon>
  </button>

  <button
    mat-mini-fab
    color="warn"
    aria-label="Remove Spatial Extent"
    matTooltip="Remove Spatial Extent"
    (click)="handleDelete()"
    [disabled]="inputsDisabled"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
