<div class="content">
  <div class="button-wrapper">
    <a
      mat-stroked-button
      class="manage-link"
      target="_blank"
      [href]="manageUrl"
    >
      {{ user !== null ? '' : 'Forgotten Password/' }}
      Manage account
    </a>
    <button
      mat-flat-button
      (click)="logInOut()"
    >
      {{ user !== null ? 'Log out' : 'Log in / Register' }}
    </button>
  </div>
  <div class="login-disclaimer">
    <p>By using EPOS ICS portal you accept the EPOS terms and conditions.</p>
    <a appShowDisclaimerDirective>More Details</a>
  </div>
</div>
