<ng-scrollbar [autoHeightDisabled]="false">
  <div class="container">
    <app-back-button path="/browse/{{ entityRoute }}"></app-back-button>
    <div class="top-header">
      <div class="flex-row">
        <h1 class="mat-headline-4">Data product</h1>
        <!-- <mat-chip-listbox
          aria-label="Status"
          *ngIf="currentEdit"
        >
          <mat-chip-option [color]="currentEdit.color">{{ currentEdit.state }}</mat-chip-option>
        </mat-chip-listbox> -->
      </div>
      <div class="actions">
        <div class="flex-col">
          <button
            mat-mini-fab
            color="default"
            aria-label="Load a revision"
            (click)="handleGetRevisions()"
          >
            <mat-icon>replay</mat-icon>
          </button>
          <label>Revisions</label>
        </div>
        <div class="flex-col">
          <button
            mat-mini-fab
            color="error"
            aria-label="Delete data product"
            (click)="handleDelete()"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <label>Delete</label>
        </div>
      </div>
    </div>
    <div class="body">
      <form
        [formGroup]="form"
        *ngIf="form && dataProduct"
      >
        <mat-form-field
          appearance="outline"
          [floatLabel]="floatLabelControl.value"
          [style.width.%]="97"
        >
          <mat-label>Instance ID</mat-label>
          <input
            matInput
            placeholder="Instance ID"
            name="instanceId"
            formControlName="instanceId"
            readonly
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          [floatLabel]="floatLabelControl.value"
          [style.width.%]="97"
        >
          <mat-label>UID</mat-label>
          <input
            matInput
            placeholder="UID"
            name="uid"
            formControlName="uid"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          [floatLabel]="floatLabelControl.value"
          [style.width.%]="97"
        >
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="Title"
            name="title"
            formControlName="title"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          [floatLabel]="floatLabelControl.value"
          [style.width.%]="97"
        >
          <mat-label>Description</mat-label>
          <textarea
            matInput
            name="description"
            [ngStyle]="{ 'line-height': '1.4' }"
            formControlName="description"
            [value]="dataProduct.description[0]"
          ></textarea>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          [floatLabel]="floatLabelControl.value"
          [style.width.%]="97"
        >
          <mat-label>Changed</mat-label>
          <input
            matInput
            placeholder="Changed"
            name="changeTimestamp"
            formControlName="changeTimestamp"
            readonly
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          [floatLabel]="floatLabelControl.value"
          [style.width.%]="97"
        >
          <mat-label>State</mat-label>
          <input
            matInput
            placeholder="Status"
            name="state"
            formControlName="state"
            readonly
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          [floatLabel]="floatLabelControl.value"
          [style.width.%]="97"
        >
          <mat-label>Keywords</mat-label>
          <input
            matInput
            placeholder="Keywords"
            name="keywords"
            formControlName="keywords"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          [floatLabel]="floatLabelControl.value"
          [style.width.%]="97"
        >
          <mat-label>Modified</mat-label>
          <input
            matInput
            placeholder="Modified"
            name="modified"
            formControlName="modified"
            readonly
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          [floatLabel]="floatLabelControl.value"
          [style.width.%]="97"
        >
          <mat-label>Version Info</mat-label>
          <input
            matInput
            placeholder="Version Info"
            name="versionInfo"
            formControlName="versionInfo"
          />
        </mat-form-field>
        <ng-container *ngIf="dataProduct.spatialExtent && dataProduct.spatialExtent.length > 0">
          <mat-label class="heading">Spatial extent</mat-label>
          <ng-container *ngFor="let item of dataProduct.spatialExtent">
            <mat-form-field
              appearance="outline"
              [floatLabel]="floatLabelControl.value"
              [style.width.%]="96"
              class="indent"
            >
              <mat-label>Location</mat-label>
              <input
                matInput
                placeholder="Location"
                name="temporalExtent.location"
                [value]="item.location"
                readonly
              />
            </mat-form-field>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="dataProduct.temporalExtent && dataProduct.temporalExtent.length > 0">
          <mat-label class="heading">Temporal extent</mat-label>
          <ng-container *ngFor="let item of dataProduct.temporalExtent">
            <mat-form-field
              appearance="outline"
              [floatLabel]="floatLabelControl.value"
              [style.width.%]="96"
              class="indent"
            >
              <mat-label>Start date</mat-label>
              <input
                matInput
                placeholder="Start date"
                name="temporalExtent.startDate"
                [value]="item.startDate"
                readonly
              />
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              [floatLabel]="floatLabelControl.value"
              [style.width.%]="96"
              class="indent"
            >
              <mat-label>End date</mat-label>
              <input
                matInput
                placeholder="End date"
                name="temporalExtent.endDate"
                [value]="item.endDate"
                readonly
              />
            </mat-form-field>
          </ng-container>
        </ng-container>
      </form>
      <div>
        <div class="entity-title">
          <h1>Contact Point</h1>
          <button
            mat-stroked-button
            color="primary"
            (click)="newContactPoint()"
          >
            New Contact Point
          </button>
        </div>
        <div *ngFor="let detail of contactPointDetails">
          <app-contact-point-form-details [contactPointDetails]="detail"></app-contact-point-form-details>
        </div>
      </div>
    </div>
  </div>
</ng-scrollbar>
