<ng-scrollbar
  #scrollable
  orientation="vertical"
>
  <div class="container">
    <div class="top-header">
      <div class="flex-col">
        <h1 class="mat-headline-4">
          {{ activeTitle }}
        </h1>
      </div>
      <div class="actions">
        <div class="flex-col">
          <button
            mat-mini-fab
            color="default"
            aria-label="Load a revision"
            (click)="handleGetRevisions()"
          >
            <mat-icon>replay</mat-icon>
          </button>
          <label>Revisions</label>
        </div>
        <div class="flex-col">
          <button
            mat-mini-fab
            color="warn"
            aria-label="Delete data product"
            (click)="handleDelete()"
            [disabled]="dataProduct?.status === stateEnum.PUBLISHED"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <label>Delete</label>
        </div>
      </div>
    </div>
    <div class="body">
      <form
        [formGroup]="form"
        *ngIf="form && dataProduct"
        dateComparison
        class="data-product"
      >
        <app-general-information
          *ngIf="activeItem === entityFieldEnum.GENERAL_INFORMATION"
          [dataProduct]="dataProduct"
          formControlName="generalInformation"
        ></app-general-information>

        <app-spatial-coverage
          *ngIf="activeItem === entityFieldEnum.SPATIAL_COVERAGE"
          [dataProduct]="dataProduct"
        ></app-spatial-coverage>

        <app-temporal-coverage
          *ngIf="activeItem === entityFieldEnum.TEMPORAL_COVERAGE"
          [dataProduct]="dataProduct"
          [inputsDisabled]="dataProduct.status === stateEnum.PUBLISHED || dataProduct.status === stateEnum.ARCHIVED"
        ></app-temporal-coverage>

        <app-persistent-identifier
          *ngIf="activeItem === entityFieldEnum.PERSISTENT_IDENTIFIER"
          [dataProduct]="dataProduct"
        ></app-persistent-identifier>

        <app-contact-point
          *ngIf="activeItem === entityFieldEnum.CONTACT_POINT"
          [contactPoint]="dataProduct.contactPoint"
        ></app-contact-point>

        <app-data-providers
          *ngIf="activeItem === entityFieldEnum.DATA_PROVIDERS"
          [dataProduct]="dataProduct"
        ></app-data-providers>

        <!-- <app-lazy-load-panel
          title="Data providers"
          [headerClass]="{ active: selectedSection === '#dataproviders' }"
          (afterOpened)="handlePanelOpened(entityFieldEnum.DATA_PROVIDERS)"
        >
          <ng-container *ngIf="shouldDisplay['dataproviders']">
            <mat-form-field>
              <mat-label>{{ dataProvidersLoading ? 'Loading..' : '' }}</mat-label>
              <mat-select
                [(ngModel)]="selectedDataProviders"
                (ngModelChange)="handleDataProviderChange($event)"
                [ngModelOptions]="{ standalone: true }"
                [compareWith]="compareWithFn"
                multiple
                [disabled]="dataProduct.state === stateEnum.PUBLISHED || dataProduct.state === stateEnum.ARCHIVED"
              >
                <mat-option
                  *ngFor="let provider of dataProviders | orderBy : { property: 'legalName', direction: 1 }"
                  [value]="provider"
                >
                  {{ provider.legalName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <ul
              class="selected-providers-list"
              *ngIf="selectedDataProviders.length > 0"
            >
              <li *ngFor="let provider of selectedDataProviders">
                {{ provider.legalName }}
              </li>
            </ul>
          </ng-container>
        </app-lazy-load-panel> -->

        <input
          matInput
          name="instanceId"
          formControlName="instanceId"
          readonly
          [hidden]="true"
        />
        <input
          matInput
          placeholder="Changed"
          name="changeTimestamp"
          formControlName="changeTimestamp"
          readonly
          [hidden]="true"
        />
        <input
          matInput
          placeholder="Status"
          name="state"
          formControlName="state"
          readonly
          [hidden]="true"
        />
      </form>

      <!-- <app-anchor-navigation [identifier]="'#contactpoint'"></app-anchor-navigation>
      <app-lazy-load-panel
        title="Contact points"
        [headerClass]="{ active: selectedSection === '#contactpoint' }"
        (afterOpened)="handlePanelOpened(entityFieldEnum.CONTACT_POINT)"
      >
        <ng-container *ngIf="shouldDisplay['contactpoint']">
          <app-contact-point-form-details
            *ngIf="contactPointDetails !== null"
            [contactPointDetails]="contactPointDetails"
            (contactPointDetailsUpdated)="updateContactPointArray($event)"
            [showSaveFormNotify]="contactPointShowSaveNotify"
            [relevantEntity]="entityEnum.DATA_PRODUCT"
          ></app-contact-point-form-details>
        </ng-container>
      </app-lazy-load-panel>
      <ng-container *ngFor="let detail of distributionDetails; let i = index">
        <app-anchor-navigation [identifier]="'#distribution' + detail.instanceId"></app-anchor-navigation>
        <app-lazy-load-panel
          title="Distribution"
          [headerClass]="{ active: selectedSection === '#distribution' + detail.instanceId }"
          [expanded]="shouldDisplayDist['#distribution' + detail.instanceId]"
          (afterLoad)="handleLoad(detail.instanceId)"
          (afterOpened)="handlePanelOpened(entityFieldEnum.DISTRIBUTION, detail.instanceId)"
        >
          <ng-container *ngIf="shouldDisplayDist['#distribution' + detail.instanceId]">
            <app-distribution-form-details
              [distributionDetails]="detail"
              [metaId]="activeMetaId"
              (formTreeUpdate)="handleFormTreeUpdate($event, detail.instanceId)"
            ></app-distribution-form-details>
          </ng-container>
        </app-lazy-load-panel>
      </ng-container>
      <button
        mat-stroked-button
        color="primary"
        [disabled]="dataProduct?.state === stateEnum.PUBLISHED || dataProduct?.state === stateEnum.ARCHIVED"
        (click)="newDistribution()"
      >
        New Distribution
      </button> -->
    </div>
  </div>
</ng-scrollbar>
<app-back-to-top-button (onScrollToTop)="handleScrollToTop()"></app-back-to-top-button>
