<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div class="top-header">
    <div class="flex-row">
      <h1 class="mat-display-1">Data product</h1>
      <mat-chip-list aria-label="Status" *ngIf="currentEdit">
        <mat-chip [color]="currentEdit.color">{{ currentEdit.status }}</mat-chip>
      </mat-chip-list>
      <button mat-stroked-button color="primary" class="back-btn" (click)="handleBack()">
        <mat-icon>keyboard_backspace</mat-icon>
        <span class="back-label-text">Back</span>
      </button>
    </div>
    <div class="actions">
      <div class="flex-col">
        <button mat-mini-fab color="default" aria-label="Load a revision" (click)="handleGetRevisions()">
          <mat-icon>replay</mat-icon>
        </button>
        <label>Revisions</label>
      </div>
      <div class="flex-col">
        <button mat-mini-fab color="error" aria-label="Delete data product" (click)="handleDelete()">
          <mat-icon>delete</mat-icon>
        </button>
        <label>Delete</label>
      </div>
    </div>
  </div>
  <div class="body">
    <form [formGroup]="form" *ngIf="form && dataProduct">
      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
        <mat-label>UID</mat-label>
        <input matInput placeholder="UID" name="uid" formControlName="uid">
      </mat-form-field>
      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" name="title" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [ngStyle]="{ 'line-height': '1.4' }" formControlName="description"
          [value]="dataProduct.description[0]"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
        <mat-label>Changed</mat-label>
        <input matInput placeholder="Changed" name="changeTimestamp" formControlName="changeTimestamp" readonly>
      </mat-form-field>
      <!-- <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
        <mat-label>State</mat-label>
        <input matInput placeholder="Status" name="state" formControlName="state" readonly>
      </mat-form-field> -->
      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
        <mat-label>Issued</mat-label>
        <input matInput placeholder="Issued" name="issued" formControlName="issued" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
        <mat-label>Keywords</mat-label>
        <input matInput placeholder="Keywords" name="keywords" formControlName="keywords">
      </mat-form-field>
      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
        <mat-label>Modified</mat-label>
        <input matInput placeholder="Modified" name="modified" formControlName="modified" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
        <mat-label>Version Info</mat-label>
        <input matInput placeholder="Version Info" name="versionInfo" formControlName="versionInfo">
      </mat-form-field>
      <!-- <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
        <mat-label>Created</mat-label>
        <input matInput placeholder="Created" name="created" formControlName="created" readonly>
      </mat-form-field> -->
      <label>Spatial extent</label>
      <div formArrayName="spatialExtent">
        <mat-form-field *ngFor="let child of getControls('spatialExtent'); let i = index" appearance="outline"
          [floatLabel]="floatLabelControl.value" [style.width.%]="95">
          <mat-label>Location</mat-label>
          <div [formGroupName]="i">
            <input matInput formControlName="location">
          </div>
        </mat-form-field>
      </div>
      <!-- <label>Temporal extent</label>
      <div formArrayName="temporalExtent">
        <mat-form-field *ngFor="let child of getControls('temporalExtent'); let i = index" appearance="outline"
          [floatLabel]="floatLabelControl.value" [style.width.%]="95">
          <mat-label>Start date</mat-label>
          <div [formGroupName]="i">
            <input matInput formControlName="startDate" readonly>
          </div>
        </mat-form-field>
      </div> -->

      <!-- <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Distribution
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
            <mat-label>UID</mat-label>
            <input matInput placeholder="UID" name="distributionUid" formControlName="distributionUid">
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" name="distributionTitle" formControlName="distributionTitle">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Webservice
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
            <mat-label>UID</mat-label>
            <input matInput placeholder="UID" name="webserviceUid" formControlName="webserviceUid">
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" name="webserviceTitle" formControlName="webserviceTitle">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contact point
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
            <mat-label>UID</mat-label>
            <input matInput placeholder="UID" name="contactPointUid" formControlName="contactPointUid">
          </mat-form-field>
          <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" [style.width.%]="95">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" name="contactPointTitle" formControlName="contactPointTitle">
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion> -->
    </form>
  </div>
</div>
