/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import './styles/theme';
@import './styles/typography';
@import './styles/dialog';
@import './styles/snackbar';
@import './styles/table';
@import './styles/scroll';
@import './styles/chips';
@import './styles/colour';

.container {
  margin-top: 10px;
  margin-left: 30px;

  h1 {
    &.mat-display-1 {
      margin: 32px 0 32px 0;
      font-weight: 500;
    }
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-right: 30px;

    .actions {
      button {
        margin-left: 1rem;
      }
    }
  }
}

.mat-toolbar.mat-primary {
  color: #fff;
}

.mat-tab-group {
  margin-right: 30px;
}

.mat-tab-body {
  padding: 10px 30px;
}

.inline-fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
