/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
  margin-top: 10px;
  margin-left: 30px;
}

.mat-toolbar.mat-primary {
  background: #124027;
  color: #fff;
}

.mat-tab-group {
  margin-right: 30px;
}

.mat-tab-body {
  padding: 10px 30px;
}
