<ng-scrollbar [autoHeightDisabled]="false">
  <div class="body">
    <form
      [formGroup]="form"
      *ngIf="form && webservice"
    >
      <mat-form-field
        appearance="fill"
        [floatLabel]="floatLabelControl.value"
        [style.width.%]="100"
      >
        <mat-label>Description</mat-label>
        <textarea
          matInput
          name="description"
          [ngStyle]="{ 'line-height': '1.4' }"
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        [floatLabel]="floatLabelControl.value"
        [style.width.%]="100"
      >
        <mat-label>API Documentation (URL)</mat-label>
        <input
          matInput
          placeholder="Documentation"
          name="documentation"
          formControlName="documentation"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Service Provider</mat-label>
        <mat-select
          [(ngModel)]="selectedServiceProvider"
          [ngModelOptions]="{ standalone: true }"
          [compareWith]="compareWithFn"
        >
          <mat-option
            *ngFor="let provider of serviceProviders"
            [value]="provider"
          >
            {{ provider.legalName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-anchor-navigation [identifier]="'#wscontactpoint' + instanceId"></app-anchor-navigation>
      <mat-expansion-panel class="contact-point">
        <mat-expansion-panel-header [ngClass]="{ active: selectedSection === '#wscontactpoint' + instanceId }">
          <mat-panel-title>Contact Point</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-content-wrapper">
          <mat-form-field
            class="contact-select"
            *ngIf="showContactPointSelect"
          >
            <mat-label>Select Contact Point</mat-label>
            <mat-select (selectionChange)="updateContactPointArray($event)">
              <mat-option
                *ngFor="let contactPoint of contactPointsFromCatalog"
                [value]="contactPoint"
              >
                {{ contactPoint.uid }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngFor="let detail of contactPointDetails">
            <app-contact-point-form-details [contactPointDetails]="detail"></app-contact-point-form-details>
          </div>
          <button
            mat-stroked-button
            color="primary"
            (click)="newContactPoint()"
          >
            New Contact Point
          </button>
        </div>
      </mat-expansion-panel>

      <!-- mat-form-field
        appearance="outline"
        [floatLabel]="floatLabelControl.value"
        [style.width.%]="100"
      >
        <mat-label>Entry point</mat-label>
        <input
          matInput
          placeholder="Entry point"
          name="entryPoint"
          formControlName="entryPoint"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        [floatLabel]="floatLabelControl.value"
        [style.width.%]="100"
      >
        <mat-label>Keywords</mat-label>
        <input
          matInput
          placeholder="Keywords"
          name="keywords"
          formControlName="keywords"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        [floatLabel]="floatLabelControl.value"
        [style.width.%]="100"
      >
        <mat-label>License</mat-label>
        <input
          matInput
          placeholder="License"
          name="license"
          formControlName="license"
        />
      </mat-form-field -->
      <ng-container *ngIf="webservice.supportedOperation && webservice.supportedOperation.length > 0">
        <app-anchor-navigation [identifier]="'#wssupportedoperation' + instanceId"></app-anchor-navigation>
        <mat-expansion-panel
          [expanded]="false"
          class="supported-operation"
        >
          <mat-expansion-panel-header [ngClass]="{ active: selectedSection === '#wssupportedoperation' + instanceId }">
            <mat-panel-title>Supported operation</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content-wrapper">
            <div class="top-header">
              <div class="actions">
                Filter:
                <mat-form-field
                  appearance="outline"
                  [style.width.%]="80"
                >
                  <mat-label>Search by UID</mat-label>
                  <input
                    matInput
                    value=""
                    (input)="supportedOperationSearch($event)"
                  />
                </mat-form-field>
                <div class="flex-col">
                  <button
                    mat-mini-fab
                    color="primary"
                    aria-label="Add new operation"
                    (click)="addNewOperation()"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                  <mat-label>Add Operation</mat-label>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let item of webservice.supportedOperation; let i = index">
              <div
                [ngClass]="{
                  'supported-operation-wrapper': true,
                  'mat-elevation-z8': supportedOperationFocusFirstRow && i === 0
                }"
              >
                <div class="supported-operation-item">
                  <mat-form-field
                    appearance="outline"
                    [floatLabel]="floatLabelControl.value"
                    [style.width.%]="96"
                  >
                    <mat-label>UID</mat-label>
                    <input
                      matInput
                      placeholder="UID"
                      name="supportedOperation.uid"
                      [value]="item.uid"
                    />
                  </mat-form-field>
                  <mat-expansion-panel
                    #expansionPanel
                    [expanded]="false"
                    class="supported-operation-params"
                    [style.width.%]="96"
                    [id]="i"
                    (afterExpand)="handleOperationParams(i)"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>Parameters</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-operation-parameters
                      *ngIf="(selectedPanelId | async) === i"
                      [instanceId]="item.instanceId"
                    ></app-operation-parameters>
                  </mat-expansion-panel>
                </div>
                <div class="supported-item-actions">
                  <button
                    mat-mini-fab
                    color="warn"
                    aria-label="delete operation"
                    matTooltip="delete operation"
                    (click)="deleteOperation(item.instanceId)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <mat-divider *ngIf="webservice.supportedOperation.length > 1"></mat-divider>
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </ng-container>
      <ng-container *ngIf="webservice.spatialExtent && webservice.spatialExtent.length > 0">
        <mat-label class="heading">Spatial extent</mat-label>
        <ng-container *ngFor="let item of webservice.spatialExtent">
          <mat-form-field
            appearance="outline"
            [floatLabel]="floatLabelControl.value"
            [style.width.%]="96"
            class="indent"
          >
            <mat-label>Location</mat-label>
            <input
              matInput
              placeholder="Location"
              name="temporalExtent.location"
              [value]="item.location"
              readonly
            />
          </mat-form-field>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="webservice.temporalExtent && webservice.temporalExtent.length > 0">
        <mat-label class="heading">Temporal extent</mat-label>
        <ng-container *ngFor="let item of webservice.temporalExtent">
          <mat-form-field
            appearance="outline"
            [floatLabel]="floatLabelControl.value"
            [style.width.%]="96"
            class="indent"
          >
            <mat-label>Start date</mat-label>
            <input
              matInput
              placeholder="Start date"
              name="temporalExtent.startDate"
              [value]="item.startDate"
              readonly
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            [floatLabel]="floatLabelControl.value"
            [style.width.%]="96"
            class="indent"
          >
            <mat-label>End date</mat-label>
            <input
              matInput
              placeholder="End date"
              name="temporalExtent.endDate"
              [value]="item.endDate"
              readonly
            />
          </mat-form-field>
        </ng-container>
      </ng-container>
      <input
        matInput
        placeholder="Instance ID"
        name="instanceId"
        formControlName="instanceId"
        readonly
        [hidden]="true"
      />
    </form>
    <button
      mat-stroked-button
      color="primary"
      (click)="handleSave()"
      [disabled]="null == webservice"
    >
      Save Web Service
    </button>
  </div>
</ng-scrollbar>
