<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ng-scrollbar [autoHeightDisabled]="false">
  <div class="body">
    <form
      [formGroup]="form"
      *ngIf="form && webservice"
    >
      <div class="expansion-content-wrapper">
        <div
          class="info"
          formGroupName="date"
        >
          <div class="detail">
            <div class="label">Instance Id:</div>
            <div class="value">{{ webservice.instanceId }}</div>
          </div>

          <div class="detail">
            <ng-container *ngIf="webservice.datePublished.toString() !== 'Invalid Date'">
              <mat-form-field>
                <mat-label>Date published</mat-label>
                <input
                  matInput
                  [ngxMatDatetimePicker]="pickerPublished"
                  formControlName="published"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(pickerPublished)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerPublished></ngx-mat-datetime-picker>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="webservice.datePublished.toString() === 'Invalid Date'">
              <div class="label">Published:</div>
              <div class="value">Unpublished</div>
            </ng-container>
          </div>
          <div class="detail">
            <ng-container *ngIf="webservice.dateModified.toString() !== 'Invalid Date'">
              <mat-form-field>
                <mat-label>Date modified</mat-label>
                <input
                  matInput
                  [ngxMatDatetimePicker]="pickerModified"
                  formControlName="modified"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(pickerModified)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerModified></ngx-mat-datetime-picker>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="webservice.dateModified.toString() === 'Invalid Date'">
              <div class="label">Modified:</div>
              <div class="value">Never modified</div>
            </ng-container>
          </div>
        </div>
      </div>
      <mat-form-field
        appearance="fill"
        [floatLabel]="floatLabelControl.value"
        [style.width.%]="100"
      >
        <mat-label>Title</mat-label>
        <input
          matInput
          name="title"
          [ngStyle]="{ 'line-height': '1.4' }"
          formControlName="name"
        />
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        [floatLabel]="floatLabelControl.value"
      >
        <mat-label>Description</mat-label>
        <textarea
          matInput
          name="description"
          [ngStyle]="{ 'line-height': '1.4' }"
          formControlName="description"
          [value]="webservice.description"
          [disabled]="true"
        ></textarea>
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        [floatLabel]="floatLabelControl.value"
        [style.width.%]="100"
      >
        <mat-label>API Documentation (URL)</mat-label>
        <input
          matInput
          name="documentation"
          [ngStyle]="{ 'line-height': '1.4' }"
          formControlName="documentation"
        />
        <mat-error *ngIf="form.get('documentation')?.invalid"> URL is not valid. </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Service Provider</mat-label>
        <mat-select
          [(ngModel)]="selectedServiceProvider"
          [ngModelOptions]="{ standalone: true }"
          [compareWith]="compareWithFn"
          (selectionChange)="updateServicePoint()"
          [disabled]="disabled"
        >
          <mat-option
            *ngFor="let provider of serviceProviders"
            [value]="provider"
          >
            {{ provider.legalName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-anchor-navigation [identifier]="'#wscontactpoint' + instanceId"></app-anchor-navigation>
      <mat-expansion-panel class="contact-point">
        <mat-expansion-panel-header [ngClass]="{ active: selectedSection === '#wscontactpoint' + instanceId }">
          <mat-panel-title>Contact Points</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-content-wrapper">
          <app-contact-point-form-details
            [contactPointDetails]="contactPointDetails"
            (contactPointDetailsUpdated)="updateContactPointArray($event)"
            [showSaveFormNotify]="contactPointShowSaveNotify"
            [relevantEntity]="entityEnum.WEBSERVICE"
          ></app-contact-point-form-details>
        </div>
      </mat-expansion-panel>

      <ng-container>
        <app-anchor-navigation [identifier]="'#wssupportedoperation' + instanceId"></app-anchor-navigation>
        <mat-expansion-panel
          [expanded]="false"
          class="supported-operation"
        >
          <mat-expansion-panel-header [ngClass]="{ active: selectedSection === '#wssupportedoperation' + instanceId }">
            <mat-panel-title>Supported operation</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content-wrapper">
            <div class="top-header">
              <div class="actions">
                <div class="flex-col filter">
                  <mat-label>Filter</mat-label>
                  <mat-form-field
                    appearance="outline"
                    [style.width.%]="100"
                  >
                    <mat-label>Search by UID</mat-label>
                    <input
                      matInput
                      value=""
                      (input)="supportedOperationSearch($event)"
                      [disabled]="true"
                    />
                  </mat-form-field>
                  <button
                    mat-flat-button
                    color="primary"
                    [disabled]="disabled"
                    (click)="addNewOperation()"
                    *ngIf="webservice.supportedOperation.length === 0"
                  >
                    <mat-icon>add</mat-icon>
                    Add Operation
                  </button>
                </div>
              </div>
            </div>
            <ng-scrollbar
              [autoHeightDisabled]="true"
              [style]="{ height: '600px' }"
            >
              <ng-container *ngFor="let item of webservice.supportedOperation; let i = index">
                <div
                  [ngClass]="{
                    'supported-operation-wrapper': true,
                    'mat-elevation-z8': supportedOperationFocusFirstRow && i === 0
                  }"
                >
                  <div class="flex-row">
                    <div class="supported-operation-item">
                      <!-- <mat-form-field
                        appearance="outline"
                        [floatLabel]="floatLabelControl.value"
                        [style.width.%]="100"
                      >
                        <mat-label>UID</mat-label>
                        <input
                          matInput
                          placeholder="UID"
                          name="supportedOperation.uid"
                          [value]="item.uid"
                          [disabled]="true"
                        />
                      </mat-form-field> -->
                      <mat-form-field
                        appearance="outline"
                        [floatLabel]="floatLabelControl.value"
                        [style.width.%]="100"
                      >
                        <mat-label>Instance ID</mat-label>
                        <input
                          matInput
                          placeholder="UID"
                          name="supportedOperation.instanceId"
                          [value]="item.instanceId"
                          [disabled]="true"
                        />
                      </mat-form-field>
                      <mat-expansion-panel
                        #expansionPanel
                        [expanded]="false"
                        class="supported-operation-params"
                        [style.width.%]="100"
                        [id]="i"
                        (afterExpand)="handleOperationParams(i)"
                      >
                        <mat-expansion-panel-header>
                          <mat-panel-title>Parameters</mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-operation-parameters
                          *ngIf="(selectedPanelId | async) === i"
                          [instanceId]="item.instanceId"
                          [metaId]="metaId"
                        ></app-operation-parameters>
                      </mat-expansion-panel>
                    </div>
                    <div class="supported-item-actions">
                      <button
                        mat-mini-fab
                        color="warn"
                        aria-label="Delete operation"
                        matTooltip="Delete operation"
                        class="smaller"
                        [disabled]="disabled"
                        (click)="deleteOperation(item.instanceId)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  <mat-divider *ngIf="webservice.supportedOperation.length > 1"></mat-divider>
                </div>
              </ng-container>
            </ng-scrollbar>
          </div>
        </mat-expansion-panel>
      </ng-container>

      <ng-container>
        <app-anchor-navigation [identifier]="'#wsspatialcoverage' + instanceId"></app-anchor-navigation>
        <mat-expansion-panel class="extent">
          <mat-expansion-panel-header [ngClass]="{ active: selectedSection === '#wsspatialcoverage' + instanceId }">
            <mat-panel-title>Spatial Coverage</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content-wrapper">
            <ng-container>
              <ng-container *ngFor="let item of webservice.spatialExtent; let i = index">
                <div class="spatial-item">
                  <app-simple-spatial-control
                    [spatialExtent]="item"
                    [index]="i"
                    [inputsDisabled]="disabled"
                    (location)="updateSpatialCoverage($event)"
                    (delete)="this.deleteSpatialCoverage($event)"
                  ></app-simple-spatial-control>
                </div>
              </ng-container>

              <div class="spatial-coverage-actions">
                <button
                  mat-stroked-button
                  color="primary"
                  (click)="newSpatialCoverage()"
                  [disabled]="disabled"
                >
                  Add Spatial Coverage
                </button>
              </div>

              <div
                class="spatial-coverage-map-wrapper"
                *ngIf="webservice.spatialExtent && webservice.spatialExtent.length > 0"
              >
                <app-spatial-coverage-map
                  [mapId]="'webserviceMap'"
                  [spatialRange]="spatialCoverageInput"
                  [coordinatesChange]="spatialCoverageChange"
                >
                </app-spatial-coverage-map>
                <!-- <button
                  mat-stroked-button
                  color="primary"
                  (click)="refreshPointsOnMap()"
                  [disabled]="disabled"
                >
                  Refresh the map
                </button> -->
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </ng-container>

      <ng-container>
        <app-anchor-navigation [identifier]="'#wstemporalcoverage' + instanceId"></app-anchor-navigation>
        <mat-expansion-panel class="extent">
          <mat-expansion-panel-header [ngClass]="{ active: selectedSection === '#wstemporalcoverage' + instanceId }">
            <mat-panel-title>Temporal Coverage</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content-wrapper">
            <div class="fields-flex-col">
              <mat-form-field appearance="fill">
                <mat-label>Start date</mat-label>
                <input
                  matInput
                  [ngxMatDatetimePicker]="pickerStartDate"
                  placeholder="Choose a date & time"
                  formControlName="temporalExtentStartDate"
                  [disabled]="disabled"
                />
                <app-clear-datepicker
                  matSuffix
                  [value]="pickerEndDate"
                  (onClear)="handleClearDatePicker(form.controls['temporalExtentStartDate'])"
                ></app-clear-datepicker>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(pickerStartDate)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerStartDate></ngx-mat-datetime-picker>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>End date</mat-label>
                <input
                  matInput
                  [ngxMatDatetimePicker]="pickerEndDate"
                  placeholder="Choose a date & time"
                  formControlName="temporalExtentEndDate"
                  [disabled]="disabled"
                />
                <app-clear-datepicker
                  matSuffix
                  [value]="pickerEndDate"
                  (onClear)="handleClearDatePicker(form.controls['temporalExtentEndDate'])"
                ></app-clear-datepicker>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(pickerEndDate)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerEndDate></ngx-mat-datetime-picker>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </ng-container>

      <input
        matInput
        placeholder="Instance ID"
        name="instanceId"
        formControlName="instanceId"
        readonly
        [hidden]="true"
      />
    </form>
    <button
      mat-stroked-button
      color="primary"
      (click)="handleSave()"
      [disabled]="disabled || null == webservice || form.invalid"
    >
      Save Web Service
    </button>
  </div>
</ng-scrollbar>
