@import 'src/styles/_theme.scss';

button {
  margin-top: 1rem;
}

.parameters {
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.38);
  box-shadow: none;
}

.supported-operation,
.supported-operation-params,
.contact-point {
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.38);
  box-shadow: none;

  .supported-operation-wrapper {
    &.focused {
      border: 2px solid $color-focus;
    }

    .supported-operation-item {
      // background-color: #f9f9f9;
      padding: 2rem 0 0 2rem;
      border-radius: 4px;
    }

    .supported-item-actions {
      display: flex;
      flex-direction: row;
      justify-content: right;
      margin-right: 2em;
      margin-bottom: 1em;
    }
  }
}

.supported-operation-params {
  margin: 0 0 2rem 0 !important;
}

.mat-expansion-panel-header {
  &.active {
    background-color: $color-focus;
  }
}

.expansion-content-wrapper {
  padding-top: 1em;

  .top-header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 2rem 0 0 2rem;

    .actions {
      width: 100%;
    }
  }
}

.mat-expansion-panel {
  margin: 1em 0em 1em 0em;
  // width: 97%;
}

.spatial-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.mat-radio-group {
  display: flex;
  flex-direction: row;
}

.identifier-item {
  margin-bottom: 0.5rem;
}

.expansion-wrapper {
  margin-top: -1rem;
}

.spatial-coverage-input {
  display: flex;
  align-items: center;
  button {
    margin-left: 1em;
  }
}

.spatial-coverage-map-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.spatial-coverage-actions {
  margin-bottom: 1em;
}
