<ng-scrollbar [autoHeightDisabled]="false">
  <div class="body">
    <form
      [formGroup]="form"
      *ngIf="form && webservice"
    >
      <mat-form-field
        appearance="fill"
        [floatLabel]="floatLabelControl.value"
        [style.width.%]="100"
      >
        <mat-label>Title</mat-label>
        <input
          matInput
          name="title"
          [ngStyle]="{ 'line-height': '1.4' }"
          formControlName="name"
        />
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        [floatLabel]="floatLabelControl.value"
      >
        <mat-label>Description</mat-label>
        <textarea
          matInput
          name="description"
          [ngStyle]="{ 'line-height': '1.4' }"
          formControlName="description"
          [value]="webservice.description"
          [disabled]="true"
        ></textarea>
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        [floatLabel]="floatLabelControl.value"
        [style.width.%]="100"
      >
        <mat-label>API Documentation (URL)</mat-label>
        <input
          matInput
          placeholder="Documentation"
          name="documentation"
          formControlName="documentation"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Service Provider</mat-label>
        <mat-select
          [(ngModel)]="selectedServiceProvider"
          [ngModelOptions]="{ standalone: true }"
          [compareWith]="compareWithFn"
          (selectionChange)="updateServicePoint()"
        >
          <mat-option
            *ngFor="let provider of serviceProviders"
            [value]="provider"
          >
            {{ provider.legalName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-anchor-navigation [identifier]="'#wscontactpoint' + instanceId"></app-anchor-navigation>
      <mat-expansion-panel class="contact-point">
        <mat-expansion-panel-header [ngClass]="{ active: selectedSection === '#wscontactpoint' + instanceId }">
          <mat-panel-title>Contact Point</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-content-wrapper">
          <app-contact-point-form-details
            [contactPointDetails]="contactPointDetails"
            (contactPointDetailsUpdated)="updateContactPointArray($event)"
            [showSaveFormNotify]="contactPointShowSaveNotify"
          ></app-contact-point-form-details>
        </div>
      </mat-expansion-panel>

      <ng-container>
        <app-anchor-navigation [identifier]="'#wssupportedoperation' + instanceId"></app-anchor-navigation>
        <mat-expansion-panel
          [expanded]="false"
          class="supported-operation"
        >
          <mat-expansion-panel-header [ngClass]="{ active: selectedSection === '#wssupportedoperation' + instanceId }">
            <mat-panel-title>Supported operation</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content-wrapper">
            <div class="top-header">
              <div class="actions">
                Filter:
                <mat-form-field
                  appearance="outline"
                  [style.width.%]="80"
                >
                  <mat-label>Search by UID</mat-label>
                  <input
                    matInput
                    value=""
                    (input)="supportedOperationSearch($event)"
                  />
                </mat-form-field>
                <div class="flex-col">
                  <button
                    mat-mini-fab
                    color="primary"
                    aria-label="Add new operation"
                    (click)="addNewOperation()"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                  <mat-label>Add Operation</mat-label>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let item of webservice.supportedOperation; let i = index">
              <div
                [ngClass]="{
                  'supported-operation-wrapper': true,
                  'mat-elevation-z8': supportedOperationFocusFirstRow && i === 0
                }"
              >
                <div class="supported-operation-item">
                  <mat-form-field
                    appearance="outline"
                    [floatLabel]="floatLabelControl.value"
                    [style.width.%]="96"
                  >
                    <mat-label>UID</mat-label>
                    <input
                      matInput
                      placeholder="UID"
                      name="supportedOperation.uid"
                      [value]="item.uid"
                    />
                  </mat-form-field>
                  <mat-expansion-panel
                    #expansionPanel
                    [expanded]="false"
                    class="supported-operation-params"
                    [style.width.%]="96"
                    [id]="i"
                    (afterExpand)="handleOperationParams(i)"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>Parameters</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-operation-parameters
                      *ngIf="(selectedPanelId | async) === i"
                      [instanceId]="item.instanceId"
                      [metaId]="metaId"
                    ></app-operation-parameters>
                  </mat-expansion-panel>
                </div>
                <div class="supported-item-actions">
                  <button
                    mat-mini-fab
                    color="warn"
                    aria-label="delete operation"
                    matTooltip="delete operation"
                    (click)="deleteOperation(item.instanceId)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <mat-divider *ngIf="webservice.supportedOperation.length > 1"></mat-divider>
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </ng-container>

      <ng-container>
        <mat-expansion-panel class="extent">
          <mat-expansion-panel-header [ngClass]="{ active: selectedSection === '#wsspatialcoverage' + instanceId }">
            <mat-panel-title>Spatial Coverage</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content-wrapper">
            <ng-container formArrayName="spatialExtentGroup">
              <ng-container
                *ngFor="let item of webservice.spatialExtent; let i = index"
                formGroupName="{{ i }}"
              >
                <div class="spatial-item">
                  <div
                    class="spatial-type"
                    [style.width.%]="20"
                  >
                    <mat-radio-group
                      aria-label="Select an option"
                      formControlName="type"
                    >
                      <mat-radio-button [value]="spatialCoveragePolygon">Polygon</mat-radio-button>
                      <mat-radio-button [value]="spatialCoveragePoint">Point</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div
                    class="spatial-coverage-input"
                    [style.width.%]="50"
                  >
                    <mat-form-field
                      appearance="fill"
                      [floatLabel]="floatLabelControl.value"
                      [style.width.%]="96"
                      class="indent"
                    >
                      <mat-label>{{ labelSpatialCoverage[i] }}</mat-label>
                      <input
                        matInput
                        placeholder="Coordinates"
                        name="item.location"
                        [value]="spatialCoverageInput[i]"
                        formControlName="coord"
                      />
                    </mat-form-field>
                  </div>
                  <div
                    class="spatial-coverage-input"
                    [style.width.%]="20"
                  >
                    <button
                      mat-mini-fab
                      color="error"
                      aria-label="delete location"
                      matTooltip="delete location"
                      (click)="deleteSpatialCoverage(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </ng-container>

              <div class="spatial-coverage-actions">
                <button
                  mat-stroked-button
                  color="primary"
                  (click)="newSpatialCoverage()"
                >
                  Add Spatial Coverage
                </button>
              </div>

              <div
                class="spatial-coverage-map-wrapper"
                *ngIf="webservice.spatialExtent && webservice.spatialExtent.length > 0"
              >
                <app-spatial-coverage-map
                  [spatialRange]="spatialCoverageInput"
                  [coordinatesChange]="spatialCoverageChange"
                >
                </app-spatial-coverage-map>
                <button
                  mat-stroked-button
                  color="primary"
                  (click)="refreshPointsOnMap()"
                >
                  Refresh the map
                </button>
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </ng-container>

      <ng-container>
        <app-anchor-navigation [identifier]="'#temporalcoverage'"></app-anchor-navigation>
        <mat-expansion-panel class="extent">
          <mat-expansion-panel-header [ngClass]="{ active: selectedSection === '#temporalcoverage' }">
            <mat-panel-title>Temporal Coverage</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-content-wrapper">
            <div class="fields-flex-col">
              <mat-form-field appearance="fill">
                <mat-label>Start date</mat-label>
                <input
                  matInput
                  [ngxMatDatetimePicker]="pickerStartDate"
                  placeholder="Choose a date & time"
                  formControlName="temporalExtentStartDate"
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(pickerStartDate)"
                ></mat-datepicker-toggle>

                <ngx-mat-datetime-picker #pickerStartDate></ngx-mat-datetime-picker>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>End date</mat-label>
                <input
                  matInput
                  [ngxMatDatetimePicker]="pickerEndDate"
                  placeholder="Choose a date & time"
                  formControlName="temporalExtentEndDate"
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(pickerEndDate)"
                ></mat-datepicker-toggle>

                <ngx-mat-datetime-picker #pickerEndDate></ngx-mat-datetime-picker>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </ng-container>

      <input
        matInput
        placeholder="Instance ID"
        name="instanceId"
        formControlName="instanceId"
        readonly
        [hidden]="true"
      />
    </form>
    <button
      mat-stroked-button
      color="primary"
      (click)="handleSave()"
      [disabled]="null == webservice"
    >
      Save Web Service
    </button>
  </div>
</ng-scrollbar>
