<h1 mat-dialog-title>
  You're about to submit a draft
</h1>
<div mat-dialog-content>
  <ng-scrollbar [autoHeightDisabled]="false">
    <p>Are you sure you want to continue?</p>
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Add a comment</mat-label>
        <textarea matInput placeholder="Details about new draft..." required></textarea>
      </mat-form-field>
    </form>
  </ng-scrollbar>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="'cancel'">
    Cancel
  </button>
  <button mat-flat-button color="primary" cdkFocusInitial (click)="handleSubmit()">
    Submit
  </button>
</div>
