<form
  [formGroup]="form"
  *ngIf="form"
>
  <mat-form-field>
    <mat-label>{{ loading ? 'Loading..' : '' }}</mat-label>
    <mat-select
      formControlName="dataProviders"
      [compareWith]="compareWithFn"
      multiple
    >
      <mat-option
        *ngFor="let provider of dataProviders | orderBy : { property: 'legalName', direction: 1 }"
        [value]="provider"
      >
        {{ provider.legalName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ul
    class="selected-providers-list"
    *ngIf="selectedDataProviders.length > 0"
  >
    <li *ngFor="let provider of selectedDataProviders">
      {{ provider.legalName }}
    </li>
  </ul>
  <app-save-entity
    entity="Data Providers"
    [hideDelete]="true"
    [disabled]="disabled"
  ></app-save-entity>
</form>
