<ng-container *ngIf="contactPoint; else empty">
  <app-contact-point-search
    [contactPoint]="contactPoint"
    (contactPointDetailsUpdated)="updateContactPointArray($event)"
    (newContact)="updateContactPointDetailWithNewContact($event)"
    (isLoadingObs)="onLoadingChanged($event)"
  ></app-contact-point-search>

  <div class="item">
    <p>Contacts</p>
    <app-contact-point-detail
      [contactPointDetails]="contactPointDetails"
      [newContact]="newContact"
      [disabled]="disabled"
    ></app-contact-point-detail>
  </div>
</ng-container>
<ng-template #empty>
  <p class="notice">Couldn't fetch contact point data.</p>
</ng-template>
<!-- @if (isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } -->
