<div
  *ngFor="let contactPoint of contactPointArrayObs | async"
  class="list"
>
  <div class="item">
    <app-contact-point-detail [contactPoint]="contactPoint"></app-contact-point-detail>
    <!-- <button
      mat-mini-fab
      color="warn"
      aria-label="Remove Contact Point"
      matTooltip="Remove Contact Point"
      class="smaller"
      (click)="removeContactPoint(contactPoint.instanceId)"
    >
      <mat-icon>delete</mat-icon>
    </button> -->
  </div>
</div>

<div
  class="notify"
  *ngIf="showSaveFormNotify"
>
  <mat-icon>warning</mat-icon>
  <span
    color="warning"
    *ngIf="relevantEntity === entityEnum.DATA_PRODUCT"
  >
    Please click 'Save' in the left-hand panel after making this change</span
  >
  <span
    color="warning"
    *ngIf="relevantEntity === entityEnum.WEBSERVICE"
  >
    Please click 'Save Web Service' at the bottom of the menu after making this change</span
  >
</div>

<app-contact-point-search
  [showSaveFormNotify]="showSaveFormNotify"
  [contactPointDetails]="contactPointDetails"
  (contactPointDetailsUpdated)="updateContactPointArray($event)"
></app-contact-point-search>
