<div class="wrapper">
  <img
    width="200"
    alt="EPOS Logo"
    src="assets/img/logo.svg"
  />
  <div class="text">
    <h1>Something went wrong...</h1>
    <p class="subtitle">
      We encountered an error. Please try again later or try to load the interface again using the button below.
    </p>
    <div class="button-wrapper">
      <button
        mat-raised-button
        color="primary"
        (click)="handleRetry()"
      >
        Retry
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="handleReturnHome()"
      >
        Return Home
      </button>
    </div>
  </div>
</div>
